<h4 class="text-center">We belive in the power of people. At Twin Cities Volunteer Connect, we match skilled<br>volunteers with local charities to create a better world.</h4>
<button ng-click="hc.redirectLogin()" type="button" name="button" class="btn btn-info center-block btn-lg" id="volunteersButton">Volunteers</button>
<p class="text-center home-text">Create or access your<br>Volunteer Profile</p>
<button ng-click="hc.redirectNonprofits()" type="button" name="button" class="btn btn-info center-block btn-lg" id="nonprofitsButton">Nonprofits</button>
<p class="text-center home-text">Connect with skilled Volunteers to<br>support your cause</p>
