<form>
  <div class="container">
    <h4 class="text-center">Nonprofits, search for skilled<br>volunteers to support your cause.</h4>
    <h4>NEEDED SKILLS</h4>
    <select ng-model="nc.searchObject.skill" ng-options="item as item.skill for item in nc.skills.list" class="text"></select>
    <h4>CAUSES</h4>
    <select ng-model="nc.searchObject.cause" ng-options="item as item.cause for item in nc.causes.list" class="searchElement"></select>
    <h4>VOLUNTEER AVAILABILITY</h4>
    <label for="morning">Morning</label>
    <input type="checkbox" name="morning" ng-model="nc.searchObject.morning">
    <label for="afternoon">Afternoon</label>
    <input type="checkbox" name="afternoon" ng-model="nc.searchObject.afternoon">
    <label for="evening">Evening</label>
    <input type="checkbox" name="evening" ng-model="nc.searchObject.evening"><br>
    <label for="weekdays">Weekdays</label>
    <input type="checkbox" name="weekedays" ng-model="nc.searchObject.weekdays">
    <label for="weekends">Weekends</label>
    <input type="checkbox" name="weekends" ng-model="nc.searchObject.weekends">
    <label for="open">Open Availability</label>
    <input type="checkbox" name="open" ng-model="nc.searchObject.open"><br>
    <button ng-click="nc.searchVolunteers()" type="button" name="button" class="btn btn-primary" id="searchButton">Search</button>
  </div>
</form>

<form>
<div class="container" id="searchResults">
  <h4>{{nc.volunteerList.list[0].name}}</h4>
  <p>{{nc.volunteerList.list[0].bio}}</p>
</div>
</form>
