<div>
<button ng-click="vp.logOut()" type="button" name="button" class="btn btn-warning pull-right">Logout</button>
</div>
<br>
<form>
  <div class="container">
    <h4 class="heading">ABOUT ME</h4>
    <div class="form-group row">
      <label for="volunteerName" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input ng-model="vp.volunteerProfile.name" type="text" name="volunteerName" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailAddress" class="col-sm-2 col-form-label">Email Address</label>
      <div class="col-sm-10">
        <input ng-model="vp.volunteerProfile.email" type="text" name="emailAddress" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="linkedIn" class="col-sm-2 col-form-label">LinkedIn Profile</label>
      <div class="col-sm-10">
        <input ng-model="vp.volunteerProfile.linkedin" type="text" name="linkedIn" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="bio" class="col-sm-2 col-form-label">Bio</label>
      <div class="col-sm-10">
        <textarea ng-model="vp.volunteerProfile.bio" class="form-control" name="bio"></textarea>
      </div>
      <button ng-click="vp.clearAboutMe(vp.volunteerProfile.id); vp.updateAboutMe(vp.volunteerProfile.id)" type="button" name="button" class="btn btn-primary btn-sm save">Save</button>
      <h4 class="heading">SKILLS</h4>
      {{vp.volunteerProfile.skillOne}}
      {{vp.volunteerProfile.skillTwo}}
      {{vp.volunteerProfile.skillThree}}
      <select ng-model="vp.volunteerProfile.skillOne" ng-options="item as item.skill for item in vp.skills.list"></select>
      <select ng-model="vp.volunteerProfile.skillTwo" ng-options="item as item.skill for item in vp.skills.list"></select>
      <select ng-model="vp.volunteerProfile.skillThree" ng-options="item as item.skill for item in vp.skills.list"></select><br>
      <button ng-click="vp.saveSkills(vp.volunteerProfile.id)" type="button" name="button" class="btn btn-primary btn-sm save">Save</button><br>
      <h4 class="heading">AVAILABILITY</h4>
      <label for="morning">Morning</label>
      <input type="checkbox" name="morning" ng-model="vp.availabilityData.morning">
      <label for="afternoon">Afternoon</label>
      <input type="checkbox" name="afternoon" ng-model="vp.availabilityData.afternoon">
      <label for="evening">Evening</label>
      <input type="checkbox" name="evening" ng-model="vp.availabilityData.evening"><br>
      <label for="weekdays">Weekdays</label>
      <input type="checkbox" name="weekedays" ng-model="vp.availabilityData.weekdays">
      <label for="weekends">Weekends</label>
      <input type="checkbox" name="weekends" ng-model="vp.availabilityData.weekends">
      <label for="open">Open Availability</label>
      <input type="checkbox" name="open" ng-model="vp.availabilityData.open"><br>
      <button ng-click="vp.saveAvailability(vp.volunteerProfile.id)" type="button" name="button" class="btn btn-primary btn-sm save">Save</button><br>
      <h4 class="heading">CAUSES</h4>
      {{vp.volunteerProfile.causeOne}}
      {{vp.volunteerProfile.causeTwo}}
      {{vp.volunteerProfile.causeThree}}
      <select ng-model="vp.volunteerProfile.causeOne" ng-options="item as item.cause for item in vp.causes.list"></select>
      <select ng-model="vp.volunteerProfile.causeTwo" ng-options="item as item.cause for item in vp.causes.list"></select>
      <select ng-model="vp.volunteerProfile.causeThree" ng-options="item as item.cause for item in vp.causes.list"></select><br>
      <button ng-click="vp.saveCauses(vp.volunteerProfile.id)" type="button" name="button" class="btn btn-primary btn-sm save">Save</button><br>
      <button ng-click="vp.deleteProfile(vp.volunteerProfile.id)" type="button" name="button" class="btn btn-danger">Delete Profile</button>
    </div>
  </form>
