/*body {
  font-family: Tahoma;
}*/

.save {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-menu {
  margin-bottom: 20px;
}

.home-text {
  font-size: 16px;
}

.remove {
  color: white;
  margin-left: 10px;
}

#volunteersButton {
  margin-top: 30px;
  margin-bottom: 10px;
}

#nonprofitsButton {
  margin-top: 30px;
  margin-bottom: 10px;
}

#searchButton {
  margin-top: 10px;
  margin-bottom: 25px;
}

#searchResults {
  margin-top: 20px;
}

#nonprofitsPageHeader {
  margin-bottom: 60px;
}

#aboutMe {
  margin-bottom: 20px;
}

#resultsDisplay {
    border-left: 10px solid #45B29D;
    background-color: #45B29D;
    color: white;
}

#resultOne {
  margin-bottom: 30px;
}
