.heading {
  text-decoration: underline;
}

.save{
  margin-top: 10px;
  margin-bottom: 10px;
}

#volunteersButton{
  margin-top: 30px;
  margin-bottom: 10px;
}

#nonprofitsButton{
  margin-top: 30px;
  margin-bottom: 10px;
}
